.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h2 {
    margin: 10px 20px 0px 0px;
}

.checkboxes {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .checkboxContainer {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0px 0px 20px 0px;

        .labels {
            width: 3vw;
        }
    }
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0px;
}

.tableContainer {
    width: 50rem;
}

.inputContainer {
    width: 5vw;
    padding: 0px 5px;
}

.dltButton{
    margin-bottom: 10px;
}